form {
			width: 800px;
			margin: 0px auto;
			border: solid 0.1px;
			padding: 20px;
		}
		.Nhap:hover {
			background-color: yellow;
			padding: 20px;
		}
		.Nhap {
			padding: 20px;
			width: 90%;
			border-radius: 8px;
		}
		button {
			cursor: pointer;
			border-radius: 5px;
			padding: 20px;
		}
		table {
			width: 100%;
			border: solid grey 1px;
		}
		table tr th{
			border:solid 1px;
		}